<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autoComplete='off'>

    <mat-card-header>
      <mat-card-title>
        <h3>{{type}} user</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-form-field>
        <input
            matInput
            formControlName="name"
            placeholder="Name"
        >
      </mat-form-field>

      <mat-form-field>
        <input
            matInput
            formControlName="email"
            placeholder="Email"
        >
      </mat-form-field>

      <mat-form-field>
        <input
            matInput
            formControlName="gender"
            placeholder="Gender"
        >
      </mat-form-field>

      <mat-form-field>
        <input
            matInput
            formControlName="location"
            placeholder="Location"
        >
      </mat-form-field>

      <mat-form-field>
        <input
            matInput
            formControlName="birthday"
            placeholder="Birthday"
        >
      </mat-form-field>

      <mat-checkbox
          formControlName="isBlocked"
          color="primary"
      >
        Blocked
      </mat-checkbox>

      <mat-checkbox
          formControlName="isModerator"
          color="primary"
      >
        Moderator
      </mat-checkbox>
   </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer>
      <ww-button type="button" color="warn" routerLink="/admin/users">Cancel</ww-button>
      <ww-button type="submit">Save</ww-button>
    </mat-card-footer>
  </form>
</mat-card>