mat-card {
  width: 400px;

  mat-card-header {
    /deep/ .mat-card-header-text {
      margin: 0;
      text-transform: uppercase;
    }
  }

  mat-card-content {
    margin-bottom: 0;
    padding: 12px 0;

    mat-form-field {
      width: 100%;
    }

    mat-checkbox {
      margin-right: 15px;
    }
  }

  mat-card-footer {
    display: flex;
    justify-content: flex-end;
    margin: 24px 0 0;

    ww-button {
      margin-left: 10px;
    }
  }
}