<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autoComplete='off'>
    <ww-spinner *ngIf="loading" [@fade]></ww-spinner>

    <mat-card-header>
      <mat-card-title>
        <h3>Admin Panel</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
            matInput
            formControlName="email"
            placeholder="Enter Email"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
            matInput
            formControlName="password"
            placeholder="Enter Password"
        >
      </mat-form-field>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer>
      <ww-button type="submit">Sign In</ww-button>
    </mat-card-footer>
  </form>
</mat-card>