:host {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 300px;

  mat-card-header {
    /deep/ .mat-card-header-text {
      margin: 0;
    }
  }

  mat-card-content {
    margin-bottom: 0;
    padding: 12px 0;

    mat-form-field {
      width: 100%;
    }
  }

  mat-card-footer {
    display: flex;
    justify-content: flex-end;
    margin: 24px 0 0;
  }
}