@font-face {
  font-family: 'Gotham_pro';
  src: url('./fonts/Gotham_pro/GothamPro.eot');
  src: url('./fonts/Gotham_pro/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gotham_pro/GothamPro.woff') format('woff'),
  url('./fonts/Gotham_pro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_pro_bold';
  src: url('./fonts/Gotham_pro_bold/GothamPro-Bold.eot');
  src: url('./fonts/Gotham_pro_bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gotham_pro_bold/GothamPro-Bold.woff') format('woff'),
  url('./fonts/Gotham_pro_bold/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima_nova';
  src: url('./fonts/Proxima_nova/Proxima_nova.eot');
  src: url('./fonts/Proxima_nova/Proxima_nova.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Proxima_nova/Proxima_nova.woff2') format('woff2'),
  url('./fonts/Proxima_nova/Proxima_nova.woff') format('woff'),
  url('./fonts/Proxima_nova/Proxima_nova.ttf') format('truetype'),
  url('./fonts/Proxima_nova/Proxima_nova.svg#helveticaneuecyrroman') format('svg');
  font-weight: normal;
  font-style: normal;
}
