@import 'mixins';
@import 'reset';
@import 'fonts';

$headerBg: #edf0f0;
$defaultOffset: 30px;

body {
  min-width: 360px;
  color: #000;
  font-family: 'Gotham_pro';
  overflow-x: hidden;
  position: relative;

  &#privacy {
    padding-bottom: 100px;
  }

  .clear {
    clear: both;
  }

  a {
    color: #27c2ef;
    text-decoration: none;
  }

  .content {
    padding: 0 $defaultOffset;
    max-width: 960px;
    min-width: 330px;
    margin: 0 auto;
  }

  .header {
    background: $headerBg;

    .content {
      padding: $defaultOffset 0;

      .logo {
        display: inline-block;
        float: left;
      }

      .section-name {
        font-family: 'Proxima_nova';
        font-size: 16px;
        line-height: 30px;
        float: right;
      }
    }
  }

  .about {
    overflow: hidden;
    padding-bottom: 120px;

    .top {
      background: $headerBg;
      padding-top: 90px;

      .content {
        position: relative;

        .main-images {
          position: absolute;
          left: 500px;
          top: -20px;

          .relative {
            position: relative;

            img {
              position: absolute;
            }

            .img-0 {
              top: -50px;
              left: 680px;
              z-index: 0;
            }

            .img-1 {
              top: 340px;
              left: 200px;
              z-index: 3;
            }

            .img-2 {
              top: 80px;
              left: 360px;
              z-index: 2;
            }

            .img-3 {
              top: -65px;
              left: 0;
              z-index: 4;
            }

            .img-4 {
              top: 350px;
              left: 580px;
              z-index: 1;
            }

            .img-5 {
              top: 150px;
              left: 500px;
              z-index: 6;
            }

            .img-6 {
              top: 290px;
              left: 70px;
              z-index: 7;
            }

            .img-7 {
              top: 410px;
              left: 660px;
              z-index: 5;
            }
          }
        }

        .info {
          width: 410px;
          padding-bottom: 105px;

          .title {
            font-size: 40px;
            line-height: 55px;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-family: 'Gotham_pro_bold';
          }

          .text {
            font-size: 24px;
            line-height: 35px;
            margin-bottom: $defaultOffset;
          }

          .apple-logo {
            display: inline-block;
          }
        }
      }
    }

    .bottom {
      margin-top: 105px;

      .content {
        .list {
          font-family: 'Proxima_nova';
          font-size: 24px;
          line-height: 45px;
        }
      }
    }
  }

  .terms-of-service {
    font-family: 'Proxima_nova';
    margin-top: 60px;
    font-size: 24px;
    line-height: 25px;

    .title {
      margin-bottom: $defaultOffset;
    }

    .p {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }

  .privacy-policy {
    font-family: 'Proxima_nova';
    max-width: 480px;
    padding: 10px;
    margin: 150px auto 0;
    text-align: center;
    font-size: 16px;
    line-height: 25px;

    .privacy-logo {
      display: inline-block;
      margin: 0 auto 40px;
    }

    .text {
      margin-bottom: 30px;
    }

    .item {
      margin-bottom: 10px;
    }

    .apple-logo {
      display: inline-block;
      margin: 30px auto 0;
    }
  }

  .footer {
    padding: 0 0 50px;
    text-align: center;
    z-index: 10;
    background: #fff;
    position: relative;

    .content {
      .item {
        display: inline-block;
      }

      a {
        font-size: 14px;
        line-height: 16px;
        padding: 0 20px;
      }

      .copy {
        font-size: 16px;
        line-height: 16px;
        opacity: 0.5;
        text-align: center;
        position: relative;
        padding: 0 20px;
      }

      .logos {
        position: relative;
        left: 10px;

        .logo {
          padding: 0;
          margin: 0 8px;
          width: auto;
        }

        a {
          display: inline-block;
        }
      }
    }
  }

  &#privacy {
    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

@media (max-width: 960px) {
  body {
    &#privacy {
      padding-bottom: 200px;
    }

    .content {
      padding: 0 $defaultOffset / 2;
    }

    .header {
      .content {
        text-align: center;

        .logo {
          float: none;
        }

        .section-name {
          display: none;
        }
      }
    }

    .about {
      padding-bottom: 0;
      text-align: center;

      .top {
        padding-top: $defaultOffset;

        .content {
          .info {
            width: 100%;
            padding-bottom: 150px;

            .title {
              font-size: 24px;
              line-height: 35px;
              margin-bottom: $defaultOffset / 2;
            }

            .text {
              font-size: 16px;
              line-height: 25px;
              margin-bottom: $defaultOffset / 2;
            }

            .apple-logo {
              margin: 0 auto;
            }
          }

          .main-images {
            transform: scale(0.5);
            left: 50%;
            top: auto;
            bottom: 125px;
            margin-left: -200px;

            .relative {
              position: relative;

              img {
                position: absolute;
              }

              .img-0 {
                top: 700px;
                left: 620px;
              }

              .img-1 {
                top: 380px;
                left: 250px;
                z-index: 5;
              }

              .img-2 {
                top: 150px;
                left: 460px;
              }

              .img-3 {
                top: 0;
                left: 150px;
              }

              .img-4 {
                top: 440px;
                left: 0;
              }

              .img-5 {
                top: 650px;
                left: 470px;
              }

              .img-6 {
                top: 180px;
              }

              .img-7 {
                display: none;
              }
            }
          }
        }
      }

      .bottom {
        margin-top: 380px;

        .content {
          .list {
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }

    .terms-of-service {
      margin-top: 40px;
      font-size: 16px;
      line-height: 20px;

      .title {
        margin-bottom: 20px;
      }

      .p {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }

    .footer {
      margin-top: 70px;

      .content {
        .copy {
          display: block;
          margin: 25px auto;
        }

        a {
          padding: 0 10px;
        }

        .logos {
          display: block;
          margin: 0 auto;
          left: 0;
        }
      }
    }
  }
}

