html
    include ./../components/head

body#privacy
    .header
        .content
            a.logo(href="/")
                img(src="./img/header_logo.png" srcset="./img/retina/header_logo@2x.png 2x")
            .section-name Privacy policy
            .clear

    .privacy-policy
        .privacy-logo
            img(src="./img/privacy_logo.png" srcset="./img/retina/privacy_logo@2x.png 2x")
        .text Lorem ipsum dolor sit amet, cum no sint nobis scriptorem, qui eu insolens dissentiunt. Ei pro mediocrem accusamus constituto. Ad quis integre pri. At sed eius honestatis sadipscing.
        .item Get in-touch:&nbsp;
            a(href="mailto:info@whowho.app") info@whowho.app
        .item Feedback:&nbsp;
            a(href="mailto:feedback@whowho.app") feedback@whowho.app
        a.apple-logo(href="#")
            img(src="./img/apple_logo.png" srcset="./img/retina/apple_logo@2x.png 2x")



    include ./../components/footer