html
    include ./../components/head

body
    .header
        .content
            a.logo(href="/")
                img(src="./img/header_logo.png" srcset="./img/retina/header_logo@2x.png 2x")
            .section-name Terms of service
            .clear

    .terms-of-service
        .content
            .title PRIVACY POLICY

            .p This Personal Information Privacy Policy (hereinafter the "Policy") applies to all information that TNX Corporation (hereinafter the "Right Holder") may obtain about the User throughout the use by the latter of the software "XXX" (hereinafter the "Software"). Using the Software means that the User unconditionally agrees to this Policy and the terms of processing his or her personal information specified in it; if the User does not agree with these terms, the User should not use the Software.

            .title    1. PERSONAL USER INFORMATION OBTAINED AND PROCESSED BY THE RIGHT HOLDER

            .p For the purpose of this Policy, 'Personal User Information' means the information that the User provides about himself or herself upon registration (creating an account) or when using the Software, including the User's personal data. The information mandatory for using the Software is specifically marked. Other information is provided by the User at his or her option. The User is hereby notified and agrees that upon enabling the Software function of automatic statistics sending, the following anonymous Statistical Information (without a reference to the User) is automatically transmitted to the Right Holder to improve the quality of services provided to the User - information about the general Software performance. Statistical information does not contain any data enabling User identification and/or data that may be treated as personal data. The Right Holder may at its discretion change and/or supplement the types of Statistical Information without violating the guarantees laid down herein. The User is hereby notified and agrees that when using the Software the following information will be automatically and anonymously (without a reference to the User) sent to the Right Holder: the type of the operation system installed on the User's device, the Software version and identifier, the statistics of used Software functions, and other technical information. The User may at any time refuse to transfer the data listed in Clause 1 hereof by disabling the respective functions. This Policy is applicable only to the Software. The Right Holder does not control or bear any responsibility for third-party sites the User can go to by the links available in the Software, including in search results. Such sites may collect or request other personal data of the User, or perform other actions. The Right Holder does not verify the validity of Personal Information provided by the Users or control their legal capacity. However, the Right Holder relies on the User to provide valid and sufficient Personal Information on the items in the registration form and to keep it updated. The consequences of providing wrong information are set out in the License Agreement ->&nbsp;
                a(href="http://tnx.net/" target="_blank") http://tnx.net/

            .title 2. PURPOSES OF COLLECTING AND PROCESSING USER INFORMATION

            .p The Right Holder shall collect and keep only the personal data required for using the Software. The data obtained from the User may be used by the Right Holder to:
                br
                | - Identify the party under the License Agreement with the Right Holder
                br
                | - Provide personalized services to the User
                br
                | - Contact the User and send notices, requests and information regarding the Software use, and process the User's queries and requests
                br
                | - Improve the Software quality
                br
                | The statistical information about the User obtained by means of the Software will be used by the Right Holder only to enhance the quality of the Internet services provided to the User and to improve the User interaction with third-party sites. The Right Holder shall reserve the right to transfer the collected Statistical Information in a depersonalized aggregated form to any third parties at its discretion for a fee or free of charge.

    include ./../components/footer