<button
  mat-raised-button
  [disabled]="disabled"
  [type]="type"
  [color]="color"
  [matTooltip]="tooltip"
  [tabindex]="tabindex"
  (click)="clicked.emit()"
>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <ng-content></ng-content>
</button>