.footer
    .content
        a.item(href="/") About
        a.item(href="terms-of-service.html") Terms of service
        a.item(href="privacy-policy.html") Privacy policy

        .item.copy &copy; 2018 WHO WHO. All rights reserved

        .logos.item
            a.logo.fb(href="#")
                img(src="./img/fb.png" srcset="./img/retina/fb@2x.png 2x")
            a.logo.tw(href="#")
                img(src="./img/tw.png" srcset="./img/retina/tw@2x.png 2x")
            a.logo.pr(href="#")
                img(src="./img/pr.png" srcset="./img/retina/pr@2x.png 2x")
