head
    title WHOWHO

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")

    link(rel='stylesheet' type='text/css' href='./index.css')

    script(src="./index.js")
