<mat-card>
  <button mat-raised-button color="primary" class='add-new' routerLink="new">Add new</button>
  <ww-table
      [columns]="columns"
      [rows]="topics$ | async"
      [options]="options"
      (edited)="onEdit($event)"
      (deleted)="onDelete($event)"
  ></ww-table>
</mat-card>