<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autoComplete='off'>

    <mat-card-header>
      <mat-card-title>
        <h3>{{type}} category</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <input type="file" name="pic" (change)="onFileChange($event)" #fileInput>
      <div class="pic" (click)="fileInput.click()">
        <img [src]="(pic$ | async) | safeUrl">
        <div *ngIf="!form.controls.pic.value" class="hint">choose img</div>
        <div class="overlay">choose img</div>
      </div>

      <mat-form-field>
        <input
            matInput
            formControlName="title"
            placeholder="Title"
            #titleInput
        >
      </mat-form-field>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer>
      <div>
        <mat-checkbox
            *ngIf="!category"
            formControlName="shouldReset"
            color="primary"
        >
          Stay and reset form
        </mat-checkbox>
      </div>
      <div>
        <ww-button type="button" color="warn" routerLink="/admin/categories">Cancel</ww-button>
        <ww-button type="submit">Save</ww-button>
      </div>
    </mat-card-footer>
  </form>
</mat-card>