<h2 *ngIf="data.title" mat-dialog-title>{{ data.title }}</h2>

<div mat-dialog-content *ngIf="data.text" [innerHTML]="data.text.join('<br>')"></div>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="warn">No</button>
  <button mat-raised-button (click)="close(true)">Yes</button>
</mat-dialog-actions>
