mat-form-field {
  width: 100%;
}

mat-cell {
  img {
    max-width: 70px;
    max-height: 70px;
  }

  span.boolean {
    color: #f44336;
    font-weight: bold;
  }
  
  span.extra {
    margin-left: 7px;
    color: #999;
  }
}

mat-row:hover {
  background: #f5f5f5;
}

/deep/ mat-header-cell.mat-column-actions {
  .mat-sort-header-container {
    display: none;
  }
}

/deep/ mat-cell.mat-column-actions {
  button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}