<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-table [dataSource]="dataSource" [trackBy]="trackById" matSort>
  <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.key"
  >
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column.title }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span *ngIf="!column.type">{{ row[column.key] }}</span>
      <span *ngIf="column.type === 'date'">{{ row[column.key] | date:'short' }}</span>
      <span *ngIf="column.type === 'boolean'" class="boolean">{{ row[column.key] ? 'YES' : '' }}</span>
      <span *ngIf="column.type === 'boolean-reverse'" class="boolean">{{ row[column.key] ? '' : 'YES' }}</span>
      <span *ngIf="column.type === 'length'">{{ row[column.key] ? row[column.key].length : 0 }}</span>
      <span *ngIf="column.type === 'pic'"><img src="{{ '/' + column.path + '/' + row._id + '/small/' + row[column.key]}}"></span>
      <span  *ngIf="column.extra" class="extra">
        ({{ row[column.extra] }})
      </span>
      <div *ngIf="column.type === 'actions'">
        <button
            mat-raised-button
            (click)="edited.emit(row)"
        >
          edit
        </button>
        <button
            mat-raised-button
            color="warn"
            matTooltip="K HUYAM SOBACHIM"
            matTooltipPosition="right"
            (click)="deleted.emit(row)"
        >
          <span *ngIf="options.block; else delete">
            {{ row.isBlocked ? 'un-' : '' }}block
          </span>
          <ng-template #delete>
            <span>delete</span>
          </ng-template>
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!--*ngIf="options.pagination"-->
<mat-paginator
  #paginator
  [pageSize]="options.pagination.pageSize"
  [pageSizeOptions]="options.pagination.pageSizeOptions"
  showFirstLastButtons
></mat-paginator>