<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autoComplete='off'>

    <mat-card-header>
      <mat-card-title>
        <h3>Edit topic</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <input type="file" name="pic" (change)="onFileChange($event)" #fileInput>
      <div class="pic" (click)="fileInput.click()">
        <img [src]="(pic$ | async) | safeUrl">
        <div *ngIf="!form.controls.pic.value" class="hint">choose img</div>
        <div class="overlay">choose img</div>
      </div>

      <mat-form-field>
        <input
            matInput
            formControlName="title"
            placeholder="Title"
            #titleInput
        >
      </mat-form-field>

      <mat-form-field *ngIf="!topic">
        <textarea
          matInput
          formControlName="data"
          placeholder="Body"
        ></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Category" formControlName="category_id">
          <mat-option *ngFor="let category of categories" [value]="category._id">
            {{ category.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="User" formControlName="user_id">
          <mat-option *ngFor="let user of users" [value]="user._id">
            {{ user.name }} ({{ user.email }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div [innerHTML]="data"></div>
   </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer>
      <div *ngIf="!topic">
        <mat-checkbox
          formControlName="shouldReset"
          color="primary"
        >
          Stay and reset form
        </mat-checkbox>
      </div>
      <div *ngIf="topic">
        <ww-button
            type="button"
            color="accent"
            *ngIf="!topic.moderated"
            (click)="onModerate(topic._id)"
        >
          Approve
        </ww-button>
      </div>

      <div>
        <ww-button type="button" color="warn" routerLink="/admin/topics">Cancel</ww-button>
        <ww-button type="submit">Save</ww-button>
      </div>
    </mat-card-footer>
  </form>
</mat-card>