mat-card {
  width: 400px;

  mat-card-header {
    /deep/ .mat-card-header-text {
      margin: 0;
      text-transform: uppercase;
    }
  }

  mat-card-content {
    margin-bottom: 0;
    padding: 12px 0;

    mat-form-field {
      width: 100%;
    }

    input {
      outline: none;
    }

    input[type=file] {
      visibility: hidden;
      width: 0;
      height: 0;
    }

    .pic {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      cursor: pointer;
      margin-bottom: 20px;

      border: 1px solid #444;

      .hint {
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: #673ab7;
        display: flex;
      }

      .overlay {
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(103, 58, 183, .7);
        color: #fff;
        display: none;
      }

      &:hover {
        .overlay {
          display: flex;
        }
      }

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }

  mat-card-footer {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0;

    div:last-child {
      ww-button {
        margin-left: 10px;
      }

      justify-content: flex-end;
    }
  }
}