@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  padding: 0;
  margin: 0;
}

html, body {}

app-root {
  justify-content: center;
  display: flex;
  margin: 20px;
}

body snack-bar-container.mat-snack-bar-container {
  min-width: 100px;

  &.success {
    background: green;
  }

  &.error {
    background: #f44336;
  }
}