html
    include ./components/head

body
    .header
        .content
            a.logo(href="/")
                img(src="./img/header_logo.png" srcset="./img/retina/header_logo@2x.png 2x")
            .section-name About
            .clear

    .about
        .top
            .content
                .info
                    .title A messenger where interests are important
                    .text Chat on interesting interesting interesting topics only
                    a.apple-logo(href="#")
                        img(src="./img/apple_logo.png" srcset="./img/retina/apple_logo@2x.png 2x")

                .main-images
                    .relative
                        img.img-0(src="./img/0.png" srcset="./img/retina/0@2x.png 2x" data-coefficient="4")
                        img.img-1(src="./img/1.png" srcset="./img/retina/1@2x.png 2x" data-coefficient="2")
                        img.img-2(src="./img/2.png" srcset="./img/retina/2@2x.png 2x" data-coefficient="6")
                        img.img-3(src="./img/3.png" srcset="./img/retina/3@2x.png 2x" data-coefficient="8")
                        img.img-4(src="./img/4.png" srcset="./img/retina/4@2x.png 2x" data-coefficient="5")
                        img.img-5(src="./img/5.png" srcset="./img/retina/5@2x.png 2x" data-coefficient="2")
                        img.img-6(src="./img/6.png" srcset="./img/retina/6@2x.png 2x" data-coefficient="3")
                        img.img-7(src="./img/7.png" srcset="./img/retina/7@2x.png 2x" data-coefficient="1")

        .bottom
            .content
                .list
                    .list-item — Chat on interesting topics only
                    .list-item — Participate in discussions and quarrels
                    .list-item — Choose from a huge list of interests
                    .list-item — Share photos and vote
                    .list-item — Be on pulse of events

    include ./components/footer